@{

}
@model Web_chia_se_tai_lieu.Models.Product;


<link href="/css/style.css" rel="stylesheet"/>

<div class="page" >
    <div class="navm">
        <div class="navm-item text-danger" style="font-weight:bold;" >HOT</div>
        @foreach(var product in ViewBag.Products_asc)
        {
            <div class="navm-item" style="min-width: 100px;"><a href="" title="@product.Name">@product.Name (@product.Price)</a></div>
        }
        
    </div>
    <div class="home">
        <div class="home__topic">
            <div class="home__topic-title">Các chủ đề chính</div>
            <ul class="home__topic-list">
                @foreach(var item in ViewBag.Categories)
                {
                    <li><a href="#" title="@item.Name">@item.Name</a></li>
                }
                
            </ul>
        </div>
        <div class="home__banner">
            <div class="home__banner-top">
                <a href=""><img src="https://tailieu.vn/banners/836_1658975426.jpg" alt=""></a>

                <div class="icon">
                    <i class="bi bi-chevron-compact-left"></i>
                    <i class="bi bi-chevron-compact-right"></i>
                </div>


            </div>
            <div class="home__banner-bottom">
                <div class="banner-item">
                    <a href=""><img src="https://tailieu.vn/static/b2013az/templates/version1/default/images/btlceo.png" alt=""></a>

                </div>
                <div class="banner-item">
                    <a href=""><img src="https://tailieu.vn/static/b2013az/templates/version1/default/images/luanvan-baocao.png" alt=""></a>

                </div>
                <div class="banner-item">
                    <a href=""><img src="https://tailieu.vn/static/b2013az/templates/version1/default/images/btlcv.png" alt=""></a>

                </div>
            </div>
        </div>
    </div>


    <div class="home__product">
        <div class="home__product-list">
            <div class="home__product-list-title item-space">
                <a href="">Tai Lieu Co Phi</a>
                <div class="home__product-list-category">
                    <div class="category-name category1 chon">Co Phi</div>
                    <div class="category-name">Mien Phi</div>
                    <div class="category-name category3">Moi Up</div>
                </div>
            </div>

            <div class="home__product-list-card">
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-solid fa-file-pdf icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-regular fa-file-word icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-regular fa-file-word icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-regular fa-file-word icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-regular fa-file-word icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-regular fa-file-word icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-solid fa-file-pdf icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-solid fa-file-pdf icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-solid fa-file-pdf icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-solid fa-file-pdf icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
                <div class="home__product-card">
                    <a href="">
                        <div class="home__product-card-image">
                            <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                            <i class="bi bi-gem icon-pre"></i>
                            <i class="fa-solid fa-file-pdf icon-type-document"></i>
                        </div>
                    </a>
                    <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                    <div class="home__product-card-detail">
                        <div class="date">
                            <i class="bi bi-calendar3"> 27/10/2019</i>
                        </div>
                        <div class="user">
                            <i class="bi bi-person-up"> Trunghau</i>
                        </div>
                        <div class="view">
                            <i class="bi bi-eye"> 1520</i>
                        </div>
                        <div class="download">
                            <i class="bi bi-download"> 188</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home__product-list">
            <div class="home__product-list-title"><a href="">Top 20 tai lieu noi bat</a></div>
            <div class="home__product-list-card">
                @foreach (var product in ViewBag.Products_top)
                {
                    var poin = (@product.Views * 0.1 + @product.Likes * 0.5 + @product.Downloads) ;
                    
                    User user = new User();
                    foreach(var us in ViewBag.Users)
                    {
                        if(us.Id == product.UserId)
                        {
                            user = us;
                            break;
                        }
                    }

                    <div class="home__product-card">
                        <a href="">
                            <div class="home__product-card-image" style="border: 1px solid red;">
                                <img style="border: 1px solid green;" class="" src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                                @if(product.TypeFile == ".pdf")
                                {
                                    <i id="icon-typefile" class="fa-solid fa-file-pdf icon-type-document"></i>
                                }
                                else
                                {
                                    <i id="icon-typefile" class="fa-solid fa-file-word icon-type-document"></i>
                                }
                                @if (product.Price > 0)
                                {
                                    <i class="bi bi-gem icon-pre"></i>
                                }
                            </div>
                        </a>
                        <div style="border: 1px solid black;" class="home__product-card-name "><a class="tag-link" href="" title="@product.Name">@product.Name  </a></div>

                        <div class="home__product-card-detail">
                            <div class="date">
                                <i class="bi bi-calendar3"> @product.TimeCreate.ToShortDateString()</i>
                            </div>
                            <div class="user">
                                <i class="bi bi-person-up"> @user.Name</i>
                            </div>
                            <div class="view">
                                <i class="bi bi-eye"> @product.Views</i>
                            </div>
                            <div class="download">
                                <i class="bi bi-download"> @product.Downloads</i>
                            </div>
                        </div>

                    </div>
                    <!--
                        <script>
                        function settypefile(file) {
                            const chartospilt = ".";
                            const type = file.spilt(chartospilt)[file.spilt(chartospilt) - 1];
                            const element = document.getElementById("icon-typefile");
                            alert("Day la 1: -type");
                            if (type !== "pdf") {
                                element.className = element.className.replace("-pdf ", "-"+"type ");
                            }
                        }
                        settypefile(@product.File);
                    </script>
                    -->
                    
                }
               <!--
                    <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài. Nó sẽ bị cắt bớt nếu nó vượt quá kích thước của hộp.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài. Nó sẽ bị cắt bớt nếu nó vượt quá kích thước của hộp.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài. Nó sẽ bị cắt bớt nếu nó vượt quá kích thước của hộp.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài. Nó sẽ bị cắt bớt nếu nó vượt quá kích thước của hộp.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài. Nó sẽ bị cắt bớt nếu nó vượt quá kích thước của hộp.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài. Nó sẽ bị cắt bớt nếu nó vượt quá kích thước của hộp.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-regular fa-file-word icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài. Nó sẽ bị cắt bớt nếu nó vượt quá kích thước của hộp.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài. Nó sẽ bị cắt bớt nếu nó vượt quá kích thước của hộp.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-regular fa-file-word icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài. Nó sẽ bị cắt bớt nếu nó vượt quá kích thước của hộp.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="bi bi-gem icon-pre"></i>
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-regular fa-file-word icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-regular fa-file-word icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
                 <div class="home__product-card">
                     <a href="">
                         <div class="home__product-card-image">
                             <img src="https://media.store123doc.com/images/document/13/gu/sh/medium_lo2j0a4VTW.jpg" alt="">
                             <i class="fa-solid fa-file-pdf icon-type-document"></i>
                         </div>
                     </a>
                     <div class="home__product-card-name"><a class="tag-link" href="">Đây là một đoạn văn bản dài.</a></div>

                     <div class="home__product-card-detail">
                         <div class="date">
                             <i class="bi bi-calendar3"> 27/10/2019</i>
                         </div>
                         <div class="user">
                             <i class="bi bi-person-up"> Trunghau</i>
                         </div>
                         <div class="view">
                             <i class="bi bi-eye"> 1520</i>
                         </div>
                         <div class="download">
                             <i class="bi bi-download"> 188</i>
                         </div>
                     </div>
                 </div>
               -->
                


            </div>
        </div>
    </div>

</div>

